{% load dojo_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" href="{{ MEDIA_URL }}/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}/blueprint/ie.css" type="{{ MEDIA_URL }}/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="{{ MEDIA_URL }}/extra.css" type="text/css" media="screen, projection">
    {% block extrahead %}
    {% endblock %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}/autocomplete.css" type="text/css">
    <title>Judo Website</title>
</head>
{% block bodytag %}
<body>
{% endblock %}
{% block menu_block %}
   <ul id="menu">
       <li><a href="{% url home_site %}">Home</a></li>
       <li><a href="#" class = "drop">Log Practices</a>
         <div class="dropdown_1column align_right">  
   
                 <div class="col_1">  
   					{% practice_form %}

                 </div>  
   
         </div> 	
	</li>
        <li><a href="#">Club Stats</a></li>
        <li><a href="#">Player Lists</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
{% endblock %}
    <div class="container">
       <div class="span-24 last">
        {% block headerinfo %}
        <img src="{{ MEDIA_URL }}/logo.jpg" width="50" height="50">
        <h1>Judo Attendance</h1>
        {%  endblock %}
        </div>
        <div class="span-20">
            <h2>{%  block subtitle %}Home{% endblock %}</h2>
            {% block messages %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endblock %}
            {% block content %}
            <p>This website is to facilitate the attendance taking at various judo clubs that I teach at.</p>
	        {% endblock %}
        </div>
        <div class="span-4 last">
            {% block navigation %}
            <h2>Navigation</h2>
            <ul>
            <li><a href="{% url club_list  %}">Club List</a></li>
            <li><a href="{% url person_list  %}">Person List</a></li>
			<li><a href="{% url technique_list  %}">Technique List</a></li>
            </ul>

            {% endblock %}
			{% block login %}
			{% if user.is_authenticated %}
			<p>Logged in as: <i>{{ user.username }}</i></p>
			<p><a href="{% url logout %}">logout</a></p>
			{% else %}
			<p>Not logged in. Go <a href="{% url login %}">here</a> to login.<p>
			{% endif %}
			{% endblock %}
			<p><a href="{% url admin:index %}">Admin Site</a></p>
        </div>
        <div class="span-24 last">
            {% block footer %}
<p>Created by Will Dampier</p>
<p>Sept 2010, wnd22 at drexel dot edu</p>
            {% endblock %}
        </div>
       </div>
</body>
</html>