{% extends "base.html" %}

{% block subtitle %}{% if club_obj %}{{ club_obj.Name }}:{% endif %}Member List{% endblock %}
{% block content %}
<h4>Active Members</h4>
<table width="70%">
<thead>
<th>Member Name</th>
<th>Rank</th>
<th># classes</th>
</thead>
{% for player in players %}
    {% if player.is_active %}
    <tr>
<td><a href="{{ player.get_absolute_url }}">{{ player.Name }}</a></td>
<td>{{ player.rankrecord_set.latest.Rank }}</td>
<td>{{ player.PracticeNum }}</td>
</tr>
    {% endif %}
{% endfor %}
</table>

<h4>InActive Members</h4>
<table width="70%">
<thead>
<th>Member Name</th>
<th>Rank</th>
<th># classes</th>
<th>Length Gone</th>
</thead>
{% for player in players|dictsortreversed:"last_practice" %}
    {% if not player.is_active %}
    <tr>
<td><a href="{{ player.get_absolute_url }}">{{ player.Name }}</a></td>
<td>{{ player.rankrecord_set.latest.Rank }}</td>
<td>{{ player.PracticeNum }}</td>
<td>{{ player.last_practice|timesince|truncatewords:2 }} ({{ player.last_practice|date:"SHORT_DATE_FORMAT" }})</td>
</tr>
    {% endif %}
{% endfor %}
</table>

{% endblock %}