{% extends "base.html" %}
{% block extrahead %}
            
    {{ form.media }}
{% endblock %}
{% block subtitle %}{{ club.Name }} Practice List{% endblock %}

{% block content %}

{{ chart.img|safe }}

<form method="post" action="">
    {%  csrf_token %}
    {{ form.as_table }}
    <input type="submit" >
</form>

<table width ="50%">
    <thead>
    <th>Date</th>
    <th># People</th>
    </thead>
    {% for practice in practices %}
    <tr>
        <td><a href="{{ practice.get_absolute_url }}">{{ practice.Date }}</a></td>
        <td>{{ practice.NumPeople }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}